version: '3.1'
services:
  mailcatcher:
    image: schickling/mailcatcher:latest
    labels:
      component: mta
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:1080" ]
      interval: 30s
      timeout: 10s
      retries: 5
    network_mode: host
    expose:
      - 1025
      - 1080
    hostname: mailcatcher
    container_name: mailcatcher

  cafienne-test-token-service:
    image: spectare/oidc-token-test-service:latest
    labels:
      component: idp-test-service-for-cafienne
    network_mode: host
    expose:
      - 2377
    hostname: cafienne-test-token-service
    container_name: cafienne-test-token-service
    environment:
      BIND: 0.0.0.0
      PORT: 2377
