version: '3.1'
services:
  cafienne:
    image: cafienne/engine:latest
    labels:
      component: cafienne-engine
    network_mode: host
    expose:
      - 2027
    hostname: cafienne
    container_name: cafienne
    environment:
      EVENT_DB_PROFILE: ${EVENT_DB_PROFILE:-slick.jdbc.PostgresProfile$$}
      EVENT_DB_DRIVER: ${EVENT_DB_DRIVER:-org.postgresql.Driver}
      EVENT_DB_USER: ${EVENT_DB_USER:-postgresuser}
      EVENT_DB_PASSWORD: ${EVENT_DB_PASSWORD:-mysecret}
      EVENT_DB_URL: ${EVENT_DB_URL:-jdbc:postgresql://localhost:5431/cafienne-eventstore?reWriteBatchedInserts=true}
      QUERY_DB_PROFILE: ${QUERY_DB_PROFILE:-slick.jdbc.PostgresProfile$$}
      QUERY_DB_DRIVER: ${QUERY_DB_DRIVER:-org.postgresql.Driver}
      QUERY_DB_USER: ${QUERY_DB_USER:-postgresuser}
      QUERY_DB_PASSWORD: ${QUERY_DB_PASSWORD:-mysecret}
      QUERY_DB_URL: ${QUERY_DB_URL:-jdbc:postgresql://localhost:5430/cafienne-query?reWriteBatchedInserts=true}
    healthcheck:
      test: ["CMD", "wget", "-s", "http://localhost:2027/api-docs/swagger.json"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - /home/circleci/cafienne-engine/.circleci/run/cafienne/journal:/opt/cafienne/journal
      - /home/circleci/cafienne-engine/.circleci/run/cafienne/archive:/opt/cafienne/archive
      - /home/circleci/cafienne-engine/.circleci/target/definitions:/opt/cafienne/definitions
      - /home/circleci/cafienne-engine/.circleci/src/jdbc-conf:/opt/cafienne/conf
      - /home/circleci/cafienne-engine/.circleci/src/bootstrap:/opt/cafienne/bootstrap
