/bin/
/target/
docker-image/target/
*.cache*
/journal
.settings
.project
.classpath
.idea/
.tags
.gradle/
.tags
*.iml
.metals
**/logs/**
**/*error.txt
/run/**/journal
/run/**/snapshots
/run/**/snapshot
/run/**/definitions
/run/**/avatars
/run/**/testdefinition
/run/**/local.conf
/run/**/*.tmp/
/run/**/*log
tags
wercker.env
wercker.sh
*.log
