bin
logs
target

.bsp
.classpath
.idea
.metals
.project
.run
.settings
.tags
*.iml

/run/**/archive
/run/**/journal
/run/**/snapshots
/run/**/snapshot
/run/**/definitions
/run/**/avatars
/run/**/testdefinition
/run/**/local.conf
/run/**/*.tmp/
/run/**/*log

*.log
