<configuration scan="true">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date|%-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.cafienne" level="WARN"/>

    <!-- Show configuration settings (before and after migrations are applied) when starting the engine -->
    <!--    <logger name="org.cafienne.infrastructure.config" level="DEBUG"/>-->

    <!-- Show Storage Service logging INFO is light, DEBUG is full logging -->
    <!--    <logger name="org.cafienne.storage" level="INFO"/>-->
        <logger name="org.cafienne.storage" level="DEBUG"/>

    <!-- Show HTTP traffic logging -->
    <!--        <logger name="org.cafienne.service.http" level="DEBUG" />-->

    <!-- Show Authentication Setup logging -->
    <!--    <logger name="org.cafienne.authentication" level="INFO" />-->

    <!-- Show logging for offset of projections -->
    <!--    <logger name="org.cafienne.persistence.querydb.materializer.cases.CaseEventSink" level="DEBUG" />-->
    <!--    <logger name="org.cafienne.persistence.querydb.materializer.tenant.TenantEventSink"    level="DEBUG" />-->
    <!--    <logger name="org.cafienne.persistence.querydb.materializer.consentgroup.ConsentGroupEventSink"    level="DEBUG" />-->

    <!-- Show all projections logging, including info on event being handled -->
    <!--    <logger name="org.cafienne.persistence.querydb.materializer" level="DEBUG" />-->

    <!-- Show logging for cases in the engine -->
    <!--    <logger name="org.cafienne.cmmn" level="DEBUG" />-->

    <!-- Show timer service logging -->
    <!--    <logger name="org.cafienne.timerservice" level="DEBUG" />-->

    <logger name="com.datastax" level="WARN"/>
    <logger name="com.wordnik" level="ERROR"/>
    <logger name="com.gettyimages" level="ERROR"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>

    <logger name="slick" level="INFO"/>
    <!--    <logger name="slick.basic.BasicBackend.action" level="DEBUG"/>-->
    <!--    <logger name="slick.jdbc.JdbcBackend.statement" level="DEBUG"/>-->
    <!--<logger name="slick.jdbc.JdbcBackend.statementAndParameter" level="DEBUG"/>-->
    <!--<logger name="slick.jdbc.JdbcBackend.parameter" level="DEBUG"/>-->
    <!--    <logger name="org.flywaydb" level="INFO"/>-->
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>
